<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script> <!-- Include Vue.js library -->
<style>
    html,body{
        height: 100%;
    }
    body{
        display: grid;
        place-items: center;
    }
    .text-red{
        color: red;
    }
    .text-green{
        color: green;
    }
</style>

</head>
<body>

<div id="app">

<p>
    <input type="text" v-model="greeting">
</p>

    {{ greeting }}.({{greeting.length}})

    
        <button :class="buttonClasses">click me</button>
 

</div>

<script>



    Vue.createApp({
        data(){
            return {
                greeting: 'Hello World'
            };
        },

        mounted(){
            setTimeout(()=>{
                this.greeting='Hello Vue.js';
            },6000);
            
        },
        data1(){
            return{
                buttonClasses:'text-green'    
            }
        }

    }).mount('#app');
</script>

</body>
</html>